In [1]:
import pandas as pd
import json

In [2]:
with open('bea_data.json', 'r') as j_file:
    j_obj = json.load(j_file)

In [5]:
bea_api = j_obj["BEAAPI"]

In [7]:
results = bea_api["Results"]

In [9]:
data = results["Data"]

In [10]:
df = pd.DataFrame(data)
df

,TableName,SeriesCode,LineNumber,LineDescription,TimePeriod,METRIC_NAME,CL_UNIT,UNIT_MULT,DataValue,NoteRef
0,T10101,A191RL,1,Gross domestic product,1930,Fisher Quantity Index,"Percent change, annual rate",0,-8.5,T10101
1,T10101,A191RL,1,Gross domestic product,1931,Fisher Quantity Index,"Percent change, annual rate",0,-6.4,T10101
2,T10101,A191RL,1,Gross domestic product,1932,Fisher Quantity Index,"Percent change, annual rate",0,-12.9,T10101
3,T10101,A191RL,1,Gross domestic product,1933,Fisher Quantity Index,"Percent change, annual rate",0,-1.2,T10101
4,T10101,A191RL,1,Gross domestic product,1934,Fisher Quantity Index,"Percent change, annual rate",0,10.8,T10101
...,...,...,...,...,...,...,...,...,...,...
2320,T10101,A191RP,27,"Gross domestic product, current dollars",2018,Current Dollars,"Percent change, annual rate",0,5.4,T10101
2321,T10101,A191RP,27,"Gross domestic product, current dollars",2019,Current Dollars,"Percent change, annual rate",0,4.1,T10101
2322,T10101,A191RP,27,"Gross domestic product, current dollars",2020,Current Dollars,"Percent change, annual rate",0,-1.5,T10101
2323,T10101,A191RP,27,"Gross domestic product, current dollars",2021,Current Dollars,"Percent change, annual rate",0,10.7,T10101
2324,T10101,A191RP,27,"Gross domestic product, current dollars",2022,Current Dollars,"Percent change, annual rate",0,9.2,T10101

In [14]:
df["LineDescription"].unique()

array(['Gross domestic product', 'Personal consumption expenditures',
       'Goods', 'Durable goods', 'Nondurable goods', 'Services',
       'Gross private domestic investment', 'Fixed investment',
       'Nonresidential', 'Structures', 'Equipment',
       'Intellectual property products', 'Residential', 'Exports',
       'Imports',
       'Government consumption expenditures and gross investment',
       'Federal', 'National defense', 'Nondefense', 'State and local',
       'Gross domestic product, current dollars'], dtype=object)

In [15]:
df["CL_UNIT"].unique()

array(['Percent change, annual rate'], dtype=object)

In [16]:
df.dtypes

TableName          object
SeriesCode         object
LineNumber         object
LineDescription    object
TimePeriod         object
METRIC_NAME        object
CL_UNIT            object
UNIT_MULT          object
DataValue          object
NoteRef            object
dtype: object